nav{
    border: 5px solid red;
    height: 75px;
    display: flex;
   background-color: black;
}

.l{
    width:25%;
    display: flex;
    align-items:center;
}
.m{
    width:75%;
    display: flex;
    justify-content: space-evenly;

}

img{
    width: 70%;
}
h2{
    color: white;
}
body{
    background-color: lightgray;
}